* {
    font-family: 'Roboto', sans-serif;
    overflow-wrap: break-word;
    margin: 0;
}

.header-container {
    background-color: #d1adee;
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
}

.header-text {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: black;
    font-weight: bold;
    margin: 0px;
}

.header-text .plus-sign {
    color: #7a33dd;
}

.main {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
}

body {
    line-height: 1.5;
    margin: 0;
    width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    font-family: 'Roboto', sans-serif;
    margin: 10px;
}

.div-meetingList {
    margin: 10px;
    width: 100%;
}

.div-bookList {
    margin: 10px;
    width: 100%;
}

.navigation-paper {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}


